
/**project.css**/

@import url("../fonts/font.css");

body{
color: #555;
font-family: 'vardana';
font-size: 14px;
background: #f1f1f1;
}



ol,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}


li{list-style: none;}

a{cursor:pointer;}

a,a:hover,a:focus{ outline:0px none;text-decoration: none;}

h1{font-size:50px;}
h2{font-size:45px;}
h3{font-size:32px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:10px;}



@media (max-width:991px){
	body{font-size:14px;}
	h1{font-size:28px;}
	h2{font-size:24px;}
	h3{font-size:20px;}
	h4{font-size:16px;}
	h5{font-size:14px;}
	h6{font-size:10px;}
}


@media(min-width:992px){
	.container-fluid{max-width: 900px;}
}


.ivr-head {background: #616161;padding: 8px;}
.ivr-head p{color:#fff;text-align: center;
font-family: 'vardana';
font-size: 25px;
margin-top: -21px;
margin-left: -14px;}
.ivr-titile h1 {text-align: center;font-size: 35px;color: #fff;padding-top: 18px;
 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;}
.ivr-head .container-fluid{max-width: 100%;}
.ivr-clock1 {float: left;}
.ivr-clock2 {float: right;}
.left-align {background: #616161;width: 7px;float: left;height: 700px;}
.right-align {background: #616161;width: 7px;float: right;height: 700px;}

.iv-footerbg {background: #616161;position: fixed;bottom: 0px;height:7px;width: 100%;}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media (max-width:768px){
.left-align ,.right-align {height: 1000px;}
.ivr-titile h1 {font-size: 32px;}
}

@media (max-width:767px){
.left-align {height: 562px;}
.right-align {height: 562px;}

.ivr-titile h1 {padding-bottom: 15px;font-size: 26px;}
.ivr-clock1 {position: absolute;top: 59px;}
}