

.posrel{position: relative;} 
.fblack {color: #000;}
.c-padding {padding: 11% 0px 11% 0px;}
.tm-header {padding-top: 5px;}
.tm-header ul {margin: 15px 0px;}
.headborder{border: 1px solid #D4554B;position: fixed;width: 100%;
top: 55px;z-index: 1;}
.tm-header.fixed {background: #eee;z-index: 1;position: fixed;}
.tm-header li{ position: relative; display: inline; margin-right: 12%;}
.tm-header li:last-child {margin-right: 0px;}
.tm-header a{text-decoration: none;color: #333333;text-transform: uppercase;}
.logosec figure {margin: 110px auto 60px auto;}
.logosec img {height: 250px;width: 250px;margin: 0 auto;display: table;}

.topheight.border {border-bottom: 2px solid #D4554B;width: 100%;}
.tm-header  {position: fixed;width: 100%;display: table;}
.shape {width: 7px;height: 7px;background: #d4554b;position: absolute;border-radius: 2px;
transform: rotate(-45deg);transform-origin: 0 100%;left: 19px;top: 32px;transition: 2s;}

.animsec{height: 40px;}
.brderheight {height: 40px;}


.logosec figure img {max-width: 100%;}
.logotext {background:rgba(212,85,75,0.9);padding: 14px 0px 17px 0px;color: #fff;margin: 0px 10%;}
.logotext h1 {text-align: center;font-size: 30px;letter-spacing: 5px;}
.logotext .fbig{font-size: 40px;}

.t-about .col-xs-12:first-child {padding: 50px 50px 60px 0px;}
.t-about .col-xs-12:first-child p {text-align: right;}
.t-about .col-xs-12:last-child {padding: 50px 0px 60px 60px;}
.t-about p {font-size: 18px;  font-family: 'Calibri';}


.aboutline {background: #d4554b;position: absolute;float: left;
height: 150px;width: 3px;display: block;left: 0px;right: 0px;margin:0 auto;top: 33px;}

.commonbrder .border1 {height: 40px;}
.commonbrder .border1 .head h2 ,
.commonbrder .border1 .head h3
{background: #fff;display: inline-block;
    font-size: 14px;color:#D4554B;letter-spacing: 1px;padding: 13px;word-spacing: 3px;}

.commonbrder .border1 .head .fbig {font-size: 18px;}
.commonbrder .border1 .borderline {border: 2px solid #fff;margin-top: -23px;}
.commonbrder .border1 .borderright 
{height: 295px;width: 4px;background:#fff;display: block;float: right;transition: 5s;}

.commonbrder .border2 {margin-top: 40px;margin-left: 40px;}
.commonbrder .border2 .borderleft {height: 295px;width: 4px;
    background: #D4554B;;display: block;float: left;margin-top: 20%;transition: 5s;}
.commonbrder .border2 .btext {padding: 50px 40px 10px 40px;min-height: 433px;}
.commonbrder .border2 .btext p {font-family: 'Calibri';padding-bottom: 15px;font-size: 18px;}
.commonbrder .border2 .fbig {font-size: 18px;}
.commonbrder .border2 .borderline {border: 2px solid #D4554B;margin-top: 28px;}
.commonbrder .border2 .borderlink {position: relative;}
.commonbrder .border2 .borderlink a {content: '\00bb';
color: #fff;letter-spacing: 2px;background:#D4554B;;float: right;
margin-top: -25px;padding: 10px;margin-right:-20px;transition: 0.5s;border:2px solid #D4554B;}
.commonbrder:hover  .border2 .borderlink a {background: #fff;color: #D4554B;transition: 0.5s;
}



/**
.commonbrder .border2 .borderlink div:after {top: -17px;right: -20px;transition: 0.5s;
float: right;position: absolute;opacity: 0;color: #D4554B;font-size: 20px;}
.commonbrder .border2 .borderlink:hover div:after {opacity: 1;right: -10px;}
.commonbrder:hover .borderright {height: 400px;transition: 2s;}
.commonbrder:hover .borderleft {margin-top: 18px;height: 443px;transition: 2s;}**/


.t-team .posrel {padding-bottom: 10%;}
.t-team .posrel:last-child {padding-bottom: 0px;}
.t-team figure img {max-width: 100%;}
.t-team figure {height: 194px;width: 195px;overflow: hidden;border:  3px solid #D4554B; }
.t-team .i-link  {background:rgba(212,85,75,0.9);padding: 15px;}
.t-team .i-link li {display: inline;}
.t-team .i-link ul {display: table;margin: 0 auto;}
.t-team .i-link .fa {color: #fff;font-size: 20px;}
.t-team .i-link li {padding-right: 5px;}
.t-team .imagesec {position: relative;}
.t-team .i-link {position: absolute;width: 100%;bottom: 0px;display: none;}
.t-team .imagesec:hover .i-link {display: block;transition: 0.5s;}
.t-team .i-brder {position: absolute;border: 2px solid #D4554B;border-radius:2px;width: 40%;
top: 70px;transition: width 5s;}
.t-team h3 {color: #D4554B;font-size: 24px;padding: 20px 0px; }
.teamleft .imagedesc {padding-left: 30px;}
.t-team .imagedesc p {padding-top: 32px;font-family: 'Calibri';text-align:justify;font-size: 16px;}
.teamright h3 , .teamright p {text-align: right !important;}
.teamright .i-brder {right: 0px;}


.t-brand h5  /**.t-brand figure**/
{text-align: center;padding: 35px 0px;color: #D4554B;font-weight: bold;font-size: 18px;}
.t-brand figure img {max-width: 100%;}
.t-brand  p {padding-top: 20px;}
.t-brand .brandleft .col-lg-3 {border-right: 2px solid #D4554B;}
.t-brand .brandright .col-lg-3 {border-left: 2px solid #D4554B;}
.t-brand .row {padding-bottom: 10%;}
.t-brand .brandleft:last-child .row {padding-bottom: 0px;}

.t-brand .brandleft p {padding-left: 30px;}
.t-brand .brandright p {padding-right: 30px;}


.t-careers .row {padding: 10px 0px 0px 0px;}
.careerblock .row::after {display: inline-flex;}
.careerblock .row span {color: #000;}
.t-careers .btext .careerblock {padding-bottom: 20px;}
.t-careers .btext .careerblock:last-child {padding-bottom: 0px;}
.t-careers .careertext {padding-top: 10px;}
.t-careers .careertext span a {color: #D4554B;float: right;padding: 5px;border-radius: 5px;}
.t-careers .careertext span a:after {content: '\00bb';top: 1px;right: -20px;transition: 0.5s;
float: right;position: absolute;opacity: 0;color: #D4554B;font-size: 20px;}
.t-careers .careertext span:hover a:after {opacity: 1;right: -10px;}
.t-careers h4 {color: #D4554B;font-size: 24px;}
.t-careers span {font-size: 16px;}

.t-contact h4 {color: #D4554B;font-size: 30px;padding-bottom: 30px;}
.t-contact .t-map {height: 270px;width: 400px;overflow: hidden;border: 2px solid #D4554B; }
.t-contact .t-map iframe {height: 270px;width: 400px;}
.t-contact .addr {padding-top: 20px;font-size: 18px;}
.t-contact .col-sm-6:last-child {padding-left: 30px;}

/**t-form**/

.t-form .border2 .form-group .clearfix {clear: both;}
.t-form .form-group {margin-bottom: 30px;}
.t-form form {width: 600px;margin: 0 auto;display: table;}
.t-form .form-control {background: transparent;border: 3px solid #D4554B ;height: 45px;border-radius: 0px;
transition: 0.5s;}
.t-form .form-control:focus {background: #fff;transition: 0.5s;}
.t-form textarea {height: 150px !important;}
 
/**footer**/

.t-foot {background: #B66248;padding-bottom: 50px;}
.t-foot figure  {margin: 50px auto 20px auto;display: table;}
.t-foot .i-link li {display: inline;padding-right: 10px;}
.t-foot .i-link ul {display: table;margin: 15px auto 0px auto;}
.t-foot .i-link .fa {font-size: 25px;color: #8A4631;transition: 0.5s;}
.t-foot .i-link .fa:hover {color: #fff;transition: 0.5s;}
.t-foot .rights {padding-top: 20px;color: #fff;}





/**media**/

@media(max-width:991px){
.commonbrder .border2 .borderlink a{margin-right: 0px;}
.tm-header li {margin-right: 10%;}
.t-team figure {height: 160px;width: 162px;}
.teamleft .imagedesc {padding-left: 0px;}
.t-team .i-link {padding: 10px;}
.commonbrder .border2 .btext p {font-size: 17px;}
.t-about p {font-size: 15px;}
.t-contact .t-map {width: auto;height: auto;}
.t-contact h4 {font-size: 24px;}
.t-contact .t-map iframe {width: 100%;height: 100%;}
.t-contact .addr p {font-size: 16px;}
.aboutline{height: 130px;}
.commonbrder .border2 .borderleft {height: 250px;}
.commonbrder .border1 .head h2, .commonbrder .border1 .head h3 {word-spacing: 2px;}
.commonbrder .border2 .borderleft {height: 322px;}
.t-about .col-xs-12:first-child , .t-about .col-xs-12:last-child
{padding-top: 57px;}
}


@media(max-width:767px){
/**.tm-header , .headborder {display: none;}**/
.logotext h1 {font-size: 11px;}
.logotext .fbig {font-size: 15px; }
.aboutline {display: none;}
.line2 {    background: #D4554B;height: 2px;display: block;position: absolute;top: 208px;
width: 100%;left: 2px;}
.commonbrder .border1 .borderright , .commonbrder .border2 .borderleft {display: none;}
.commonbrder .border2 .btext {padding: 0px;}
.commonbrder .border2 {margin-left: 0px;}
.commonbrder .border1 .borderline {display: none;}
.commonbrder .border2 .btext p {font-size: 15px;}
.t-about .col-xs-12:first-child, .t-about .col-xs-12:last-child {padding: 40px 40px;}
.commonbrder .border2 .borderlink a {font-size: 12px;padding: 7px;}
.t-team figure {display: table;margin: 0 auto;}
.t-team .i-brder {display: none;}
.t-team .i-link {width: 162px;margin: 0 auto;left: 0px;right: 0px;}
.t-team h3 , .teamright h3, .teamright p{text-align: center !important;}
.t-team .imagedesc p {padding-top: 0px;}
.t-team h3 {font-size: 22px;}
.t-brand h5 {padding: 10px 0px;} 
.t-brand .brandleft p {padding-left: 0px;}
.t-brand .brandright .col-lg-3 {border-left: 0px;}
.t-brand .brandleft .col-lg-3 {border-right: 0px;}
.t-careers h4 {font-size: 18px;}
.t-careers span {font-size: 14px;}
.commonbrder .border2 .btext {min-height: auto;padding-bottom: 30px;}
.t-careers .careertext span a {font-weight: bold;}
.commonbrder .border1 {height: auto;}
.t-contact h4 {font-size: 20px;}
.t-contact .col-sm-6:last-child {padding-left: 15px;padding-top: 20px;}
.t-contact .addr p {font-size: 14px;}
.t-form form {width: auto;}
.t-form .row:first-child .col-sm-6:first-child {margin-bottom: 15px;}
.t-form .form-group {margin-bottom: 15px;}
.tm-header a {font-size: 12px;}
.tm-header li {margin-right: 4px;}
.tm-header ul {display: table;margin: 15px auto;}
[data-aos="fade-right"] , [data-aos="fade-left"] {transform: translate(0px);}
.c-padding {padding: 22% 0px 11% 0px;} 
.animsec {height: 40px;} 
.t-careers .careertext span a::after {right: 0px;top: -1px;}
.t-contact .addr {text-align: center;}

}

@media(max-width:320px){
.tm-header li {margin-right: 0px;}
}


